<!DOCTYPE html>
<html>
  <head>
    <title>Créditos</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
  </head>
  <body>
    <p>José María Viceira Pérez-Piaya</p>
    <p>Alumno de la ETSIT, asignatura CORE</p>
    <img src="/images/FOTO27.jpg" width='160' height='200' alt ='José María Viceira'/>
    <iframe width='640' height='360' src="https://www.youtube.com/embed/Z1PCtIaM_GQ" allowfulscreen></iframe>
    <footer>
    	<a href='https://github.com/Chousi/Proyecto_Quiz_Viceira'>Página del proyecto en Github</a>
    </footer>
  </body>
</html>
