
<table>
  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
     </tr> 
  <% } %>
</table>

<p>
	<form method="get" action="/quizzes/search">
		<p>
			<input type = "text" name="search" value="" 
			placeholder="Texto a buscar"/>
			<input type = "submit" value="Buscar">
		</p>
	</form>
</p>